@{
    ViewData["Title"] = "Registration Successful";
}

<h2>Registration Successful</h2>
<p>Your account has been created.</p>
<p><a asp-controller="Account" asp-action="Login" class="btn btn-success">Proceed to Login</a></p>
