@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Minesweeper Online</h2>
<p><a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a></p>
<p><a asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a></p>
