@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Minesweeper Milestone 1</h2>
<p><a asp-controller="Account" asp-action="Register" class="btn btn-success">Register</a></p>
<p><a asp-controller="Account" asp-action="Login" class="btn btn-warning">Login</a></p>
